/public/hot
/public/build
/public/storage
public/js/*
public/css/*
!public/css/website/
public/css/website/*
!public/css/website/reset.css
public/node_modules
public/node_modules/*
public/vendor
public/fonts/vendor
/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
dbData/
.vscode/extensions.json
.vscode/settings.json