@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@400&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:wght@500,700,800&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Titillium+Web:wght@300,400,500,600,700&display=swap");

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "admin-lte/dist/css/AdminLTE.min.css";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "ionicons/dist/scss/ionicons.scss";
@import "bootstrap/scss/bootstrap";
@import "vuetify/dist/vuetify.min.css";
@import "@mdi/font/css/materialdesignicons.min.css";

@import "cms/_cms-variables";
@import "cms/_menu";
@import "cms/_pages";
@import "cms/_tabs";
@import "cms/_utils";

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.swal2-container {
  z-index: 2100 !important;
}

.front-content {
  padding: 0 100px 0 200px;

  @media screen and (min-width: 1024px) and (max-width: 1300px) {
    padding: 0 75px 0 150px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 15px;
  }
}

.front-content--normal {
  padding: 0 200px 0 200px;

  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    padding: 0 80px 0 80px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 30px;
  }
}

.front-content-inverse {
  padding: 0 200px 0 100px;

  @media screen and (min-width: 1024px) and (max-width: 1300px) {
    padding: 0 150px 0 75px;
  }

  @media screen and (max-width: 1024px) {
    padding: 15px;
  }
}

.front-content-lg {
  padding: 0 100px 0 200px;

  @media screen and (min-width: 1026px) and (max-width: 1300px) {
    padding: 0 75px 0 150px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}

.front-content-left {
  padding: 0 0 0 200px;

  @media screen and (min-width: 1024px) and (max-width: 1300px) {
    padding: 0 0 0 150px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0;
  }

  @media screen and (max-width: 320px) {
    padding: 0 10px;
  }
}

.VueCarousel-dot:focus,
.VueCarousel-navigation-button {
  outline: none !important;
}

.VueCarousel-navigation-next {
  right: 20px !important;
}

.main-header .sidebar-toggle {
  padding: 12px 15px 5px 15px;

  &:before {
    display: none;
  }
}

.box-body {
  @media screen and (max-width: 767px) {
    form {
      overflow-x: auto;
    }
  }
}