$primary: #00AD55;
$secondary: #000;
$text: #000;
// $bg: #FBFBFB;
$bg: #efefef;
$detail: #D9D9D9;
$font-family: 'Roboto', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px,
);